@using System.Linq.Expressions

<div class="form-group">
    <label for="@Id">@Label</label>
    <InputNumber id="@Id" Value="@Value" TValue="int" ValueChanged="@ValueChanged"
               ValueExpression="@ValueExpression" class="form-control"></InputNumber>
    <ValidationMessage For="@ValueExpression"></ValidationMessage>
</div>

@code
{
    [Parameter] public string Id { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public int Value { get; set; }
    [Parameter] public Expression<Func<int>> ValueExpression { get; set; }
    [Parameter] public EventCallback<int> ValueChanged { get; set; }
}