@using System.Linq.Expressions

<div class="form-group">
    <label for="@Id">@Label</label>
    <InputText id="@Id" Value="@Value" TValue="string" ValueChanged="@ValueChanged"
               ValueExpression="@ValueExpression" class="form-control" ></InputText>
    <ValidationMessage For="@ValueExpression"></ValidationMessage>
</div>

@code 
{
    [Parameter] public string Id { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public Expression<Func<string>> ValueExpression { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
}
