<h3>@Titolo</h3>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Data</td>
            <td>Località</td>
            <td>Titolo</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Eventi)
        {
            <tr>
                <td>@evento.Id</td>
                <td>@evento.Data</td>
                <td>@evento.Localita</td>
                <td>@evento.Titolo</td>
                <td>
                    <button class="btn btn-success" @onclick="() => OnCancella.InvokeAsync(evento)">Cancella</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter]
    public List<Evento> Eventi { get; set; } = new List<Evento>(){ };

    [Parameter]
    public string Titolo { get; set; }

    [Parameter]
    public EventCallback<Evento> OnCancella { get; set; }
}
